{% extends "base.html" %}

{% block content %}

<script>
    window.setTimeout(function () {
        window.location.reload();
    }, 30000);
</script>

<div class="container">
   {% for game in status %}
   <br/>
   <div class="row align-items-start m-5">
      <div class="col-sm-4 justify-content-end align-content-start p-1">
         <h1 class="display-4 text-end">{{ game['name'] }}</h1> 
      </div>
      <div class="col-sm-8">
         {% if game['categories'] %}
            {% for category in game['categories'] %}
               <div class="row justify-content-center">
                  <h1 class="display-5 text-center text-muted">{{ category }}</h1>
               </div>
               {% for server in game['servers'] if server['category'] == category %}
               <div class="row">
                  <div class="col-sm-6">
                     <h2>{{ server['name'] }}</h1>
                  </div>
                  <div class="col-sm-6 justify-content-end">
                     {% if server['is_up'] %}
                        <h2 class="text-success text-right">Available</h1>
                     {%  else %}
                        <h2 class="text-danger text-right">Offline</h1>
                     {% endif %}
                  </div>
               </div>
               {% endfor %}
            {% endfor %}
         {% else %}
            {% for server in game['servers'] %}
            <div class="row">
               <div class="col-sm-6">
                  <h2 class="display 6">{{ server['name'] }}</h1>
               </div>
               <div class="col-sm-6 align-items-end">
                  {% if server['is_up'] %}
                     <h2 class="text-success text-right">Available</h1>
                  {%  else %}
                     <h2 class="text-danger text-right">Offline</h1>
                  {% endif %}
               </div>
            </div>
            {% endfor %}
         {% endif %}
      </div>
   </div>
   <br/>
   <br/>
   {% endfor %}
</div>

{% endblock %}
