{% extends "base.html" %}

{% block content %}

<script>
    window.setTimeout(function () {
        window.location.reload();
    }, 30000);
</script>

<div class="container">
    <div class="row align-items-end">
        {% for server_area in status %}
        <div class="col-sm-6">
            <h1 class="display-2 text-center">{{ server_area }}</h1>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for server_area in status %}
        <div class="col-sm-6">
            {% for server in status[server_area] %}
            <div class="col sm-12 d-flex align-items-stretch justify-content-center">
                <div class="card d-flex flex-fill">
                    <div class="card-title text-center">
                        <h1 class="display-4">
                            {{ server }}
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        {% if status[server_area][server] %}
                            <h1 class="display-5 text-success">Available</h2>
                        {%  else %}
                            <h1 class="display-5 text-danger">Offline</h2>
                        {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
